body{text-align: center; background-color: black; color: white;}


.wrapper{font-size: 3em;}

h1{color: red; font-size: 5em;}

menu{margin: 30px; font-size: 3em;background-color: powderblue;}

footer{margin-top: 300px;}


