body{text-align: center; background-color: palevioletred; color: blue;}

menu{background-color: darkorange;}

h1{color: palegreen; font-size: 5em;}

menu{margin: 30px;}

footer{margin-top: 300px;}

div{font-size: 2em;}
