body{text-align: center; background-color: black; color: white;}

menu{background-color: powderblue;}

div{font-size: 3em;}

h1{color: red; font-size: 5em;}

menu{margin: 30px;}

footer{margin-top: 300px;}


